# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [13]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [11]:
# 1. Filter customers: low total_claim_amount (<1000) and responded "Yes"
low_claim_yes = df[(df['Total Claim Amount'] < 1000) & (df['Response'] == 'Yes')]
print(low_claim_yes)

       Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
3               3  XL78013      Oregon             22332.439460      Yes
8               8  FM55990  California              5989.773931      Yes
15             15  CW49887  California              4626.801093      Yes
19             19  NJ54277  California              3746.751625      Yes
27             27  MQ68407      Oregon              4376.363592      Yes
...           ...      ...         ...                      ...      ...
10844       10844  FM31768     Arizona              5979.724161      Yes
10852       10852  KZ80424  Washington              8382.478392      Yes
10872       10872  XT67997  California              5979.724161      Yes
10887       10887  BY78730      Oregon              8879.790017      Yes
10897       10897  MM70762     Arizona              9075.768214      Yes

       Coverage             Education Effective To Date EmploymentStatus  \
3      Extended               College           1/11/11         Employed
8       Premium               College           1/19/11         Employed
15        Basic                Master           1/16/11         Employed
19     Extended               College           2/26/11         Employed
27      Premium              Bachelor           2/28/11         Employed
...         ...                   ...               ...              ...
10844  Extended  High School or Below            2/7/11         Employed
10852     Basic              Bachelor           1/27/11         Employed
10872  Extended  High School or Below            2/7/11         Employed
10887     Basic  High School or Below            2/3/11         Employed
10897     Basic                Master           1/26/11         Employed

      Gender  ...  Number of Open Complaints Number of Policies  \
3          M  ...                        0.0                  2
8          M  ...                        0.0                  1
15         F  ...                        0.0                  1
19         F  ...                        1.0                  1
27         F  ...                        0.0                  1
...      ...  ...                        ...                ...
10844      F  ...                        0.0                  3
10852      M  ...                        0.0                  2
10872      F  ...                        0.0                  3
10887      F  ...                        0.0                  7
10897      M  ...                        0.0                  8

          Policy Type        Policy  Renew Offer Type  Sales Channel  \
3      Corporate Auto  Corporate L3            Offer2         Branch
8       Personal Auto   Personal L1            Offer2         Branch
15       Special Auto    Special L1            Offer2         Branch
19      Personal Auto   Personal L2            Offer2    Call Center
27      Personal Auto   Personal L3            Offer2          Agent
...               ...           ...               ...            ...
10844   Personal Auto   Personal L1            Offer2          Agent
10852   Personal Auto   Personal L2            Offer2    Call Center
10872   Personal Auto   Personal L3            Offer2          Agent
10887    Special Auto    Special L2            Offer1          Agent
10897   Personal Auto   Personal L1            Offer1          Agent

       Total Claim Amount  Vehicle Class Vehicle Size Vehicle Type
3              484.013411  Four-Door Car      Medsize            A
8              739.200000     Sports Car      Medsize          NaN
15             547.200000            SUV      Medsize          NaN
19              19.575683   Two-Door Car        Large            A
27              60.036683  Four-Door Car      Medsize          NaN
...                   ...            ...          ...          ...
10844          547.200000  Four-Door Car      Medsize          NaN
10852          791.878042            NaN          NaN            A
10872          547.200000  Four-Door Car      Medsize          NaN
10887          528.200860            SUV        Small            A
10897          158.077504     Sports Car      Medsize            A

[1399 rows x 26 columns]

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [14]:
# 2. Average monthly_premium and customer lifetime value by policy_type and gender for responded "Yes"
avg_metrics = df[df['Response'] == 'Yes'].groupby(['Policy Type', 'Gender'])[['Monthly Premium Auto', 'Customer Lifetime Value']].mean().round(2)
print(avg_metrics)

                       Monthly Premium Auto  Customer Lifetime Value
Policy Type    Gender
Corporate Auto F                      94.30                  7712.63
               M                      92.19                  7944.47
Personal Auto  F                      99.00                  8339.79
               M                      91.09                  7448.38
Special Auto   F                      92.31                  7691.58
               M                      86.34                  8247.09

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [15]:
# 3. Total number of customers per state, filter states with more than 500 customers
state_counts = df['State'].value_counts()
state_over_500 = state_counts[state_counts > 500]
print(state_over_500)

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [16]:
# 4. Max, min, median customer lifetime value by education and gender
clv_stats = df.groupby(['Education', 'Gender'])['Customer Lifetime Value'].agg(['max','min','median']).round(2)
print(clv_stats)

                                  max      min   median
Education            Gender
Bachelor             F       73225.96  1904.00  5640.51
                     M       67907.27  1898.01  5548.03
College              F       61850.19  1898.68  5623.61
                     M       61134.68  1918.12  6005.85
Doctor               F       44856.11  2395.57  5332.46
                     M       32677.34  2267.60  5577.67
High School or Below F       55277.45  2144.92  6039.55
                     M       83325.38  1940.98  6286.73
Master               F       51016.07  2417.78  5729.86
                     M       50568.26  2272.31  5579.10

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here